*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  letter-spacing: 0.1rem;
}

body {
  font-family: var(--font-main);
  background: var(--color-bg);
  color: var(--color-text);
  height: 100vh;
}

.page {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.page.is-visible {
  opacity: 1;
  transition: opacity 0.4s ease;
}
