:root {
  --color-bg: #1e1e1e;
  --color-text: #e5e5e5;
  --color-text-dark: #1e1e1e;
  --color-primary: #f4f4f4;
  --color-accent: #434343;
  --color-danger: #d03d23;
  --pixel-shadow: 0 0 0 3px #1e1e1e, 0 0 0 8px var(--color-primary);
  /* --pixel-shadow: 0 0 0 4px #000, 0 0 0 6px var(--primary); */
  --font-main: "Press Start 2P", sans-serif;
  --transition-fast: 0.15s steps(3);
}
